*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    z-index: 99;
}

#loading-image {
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 100;
    width: 15%;
}

body{
    background: #001e4d;
}
.quizOptions{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px  auto 0;
    border-radius: 10px;
    padding: 30px;
}

.quizOptions h1{
    font-size: 35px;
    color: #001e4d;
    font-weight: 600;
    padding-bottom: 20px;
}

label{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    padding-bottom: 30px;
}

select, input[type='number']{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px  auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover{
    background: #222;
    color: #fff;
}

.submit{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
}

#submitBtn{
    margin-left: 35%;
}

#next-btn{
    display: none;
}

#play-again-btn{
    display: none;
    margin-left: 35%;
}

.correct{
    background: orange !important;
}

.incorrect{
    background: red !important;
}

.disabled{
    pointer-events:none;
    cursor: no-drop;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}